.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #161513;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 170px;
}

.logo {
  height: auto;
  width: 17%;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
  font-size: 20px;
}

.nav-menu li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-menu li a:hover {
  color: #a777e3;
}

.nav-contact {
  padding: 15px 20px;
  border-radius: 50px;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  font-size: 18px;
  transition: 0.5s ease-in-out;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.nav-contact a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}


.nav-contact:hover {
  background: linear-gradient(135deg, #a777e3, #6e8efb);
  transform: translateY(-3px) scale(1.04);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}
.nav-menu li a:hover {
  color: #ffff;
}


.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 6px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

.bar.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 20px 30px;
  }

  .nav-menu {
    position: fixed;
    top: 60px;
    right: -100%;
    width: 200px;
    height: calc(100vh - 50px);
    background-color: #161513;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    transition: right 0.3s ease;
    z-index: 9999;
  }

  .nav-menu.open {
    right: 0;
  }

  .nav-menu li {
    width: 100%;
  }

  .nav-menu li a {
    font-size: 18px;
    width: 100%;
    display: block;
    padding: 10px 0;
    color: white;
  }

  .hamburger {
    display: flex;
  }

  .nav-contact {
    padding: 10px 0;
    background: none;
    box-shadow: none;
  }

  .nav-contact a {
    color: white;
    font-weight: bold;
  }

  .nav-contact:hover {
    background: none;
    transform: none;
    box-shadow: none;
  }
}
